extends layout

block content

  h1 Log in
  form(method='post')
    input(type='text', name='email', placeholder='Email')
    input.input-medium(type='password', name='password', placeholder='Password')
    input(type='hidden', name='then', value=req.query.then || '/')
    button(type='submit') Log in
    a(href="/signup") New? sign up.