
extends ../layout

block content
  form(method='post')
    p
      label(for='password') Enter new password.
      input(name='password', type='password', placeholder='password')
    p
      button.btn-primary.btn Set password