extends layout

block content

  h1 Sign up
  form(method='post')
    input(type='text', name='email', placeholder='Email')
    input.input-medium(type='password', name='password', placeholder='Password')
    input(type='hidden', name='then', value=req.query.then || '/')
    button(type='submit') Sign up
    a(href="/login") Already have an account? Log in.