extends ../layout

block content
  form(method='post')
    p Please enter your email address.
      input(type='email', name='email', placeholder='email')
    p
      button.btn(type='submit') Request password reset

